extends layout

block content
  a(href="/newrole")
    button.btn.btn.btn-primary Create New Role
  h1 List of applicants
  p.lead
    table(class="table table-striped")
        thead
            th Name
            th Email
            th Job ID
            th Time
            th Resume
        each item in results
            tr
                td= item.fields.name
                td= item.fields.email
                td= item.fields.position_id
                td= moment(item.fields._timestamp).format("YYYY-MM-DD HH:mm")
                td 
                    if item.fields.resume_attachment_url!=''
                        a(href=item.fields.resume_attachment_url,target="blank")
                            span(class="glyphicon glyphicon-file")